html,
body {
    height: 100%;
    background-color: #d5d5d5;
    font-family: Roboto
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.header {
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color: #282828;
    z-index: 100;
}

.header__logo a {
    background-color: red;
    padding: 0 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.header__logo a:hover {
    background-color: #ff5050;
    text-decoration: none;
}

.nav__block {
    list-style-type: none;
}

.nav__block .nav__item {
    height: 100%;
    margin: auto;
}

.nav__block .nav__item a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}

.nav__block .nav__item a:hover {
    background-color: #353535;
}

.user__name {
    position: fixed;
    display: flex;
    flex-direction: column;
    top:4rem;
    right: -15rem;
    padding: 10px 25px 10px 10px;
    background-color: #282828;
}

.mini-icon {
    max-width: 15px;
}

.title__section {
    text-align: center;
}

#login__form,
#register__form {
    padding: 10% 30%;
    text-align: center;
}

.go__back {
    position: fixed;
    top: 5rem;
    left: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    padding: 0 1rem;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}

.go__back:hover {
    background-color: #ececec;
}

.go__back-arrow {
    margin-right: 10px;
}


.footer {
    height: 60px;
    padding-top: 20px;
    background-color: #282828;
}