.resume {
    background-color: white;
    padding: 3rem;
    box-shadow: 1px 1px 5px #00000095;
}

.main__section {
    text-align: center;
    margin-bottom: 3rem;
}

.main__section-name {
    font-size: 2.5rem;
    color: blue;
}

.main__section-position {
    font-size: 2rem;
}

.main__section-contacts {
    margin-top: 5.5rem;
    text-align: left;
}

.main__section-contacts .contact__item,
.main__section-contacts .contact__item a {
    display: block;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

.main__section-contacts .contact__item a:hover {
    color: rgb(109, 109, 109);
}

.main__section-image {
    max-width: 100%;
}

.main__section-image img {
    max-width: 100%;
}

.resume__section {
    border-radius: 10px;
    border: 1px #b9b9b9 solid;
    padding: 1rem;
    margin-bottom: 2rem;
}

.resume__section:last-child {
    margin-bottom: 0;
}

.resume__section-description {
    width: fit-content;
    margin: -2.5rem auto 1rem auto;
    padding: 0 1rem;
    background-color: white;
    color: blue;
    font-size: 2rem;
}

.resume__section .resume__subsection:first-child {
    margin-top: 0;
}

.resume__section .resume__subsection {
    margin-top: 1rem;
    border-bottom: 1px #b9b9b9 solid;
}

.resume__section .resume__subsection:last-child {
    border: none;
}

.resume__subsection-leftside,
.personal__qualities {
    text-align: center;
}

.resume__subsection-maininfo {
    font-size: 1.3rem;
    color: blue;
}

.resume__subsection-rightside {}