{% extends 'main.html' %}

{% block title %}
Ошибка
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class="title__page">Ошибка</h1>
{% if error_message: %}
<div class="text-danger">
    {{error_message}}
    {% if login: %}
    <a href="/login">Войдите в учётную запись</a>
    {% endif %}
</div>
{% endif %}
<div class="go__back">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" class="mini-icon go__back-arrow">
    Назад
</div>
{% endblock %}

{% block scripts %}
{% endblock %}