{% extends 'main.html' %}

{% block title %}
Файлы
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class="title__page">Файлы</h1>
{% if 'test-site' in session: %}
<button type="button" class="btn btn-primary mb-3 createButton" data-toggle="modal" data-target="#createFile">
    Добавить файл
</button>
{% endif %}
{% include 'form_n_files_table.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}