<table class="table table-striped table-bordered table-hover table-sm table-responsive-sm table-responsive-md table-dark text-center align-middle">
    {% if files.count: %}
    <thead>
        <th>№</th>
        <th>Название</th>
        <th>Дата создания</th>
        <th>Дата изменения</th>
        <th>Владелец</th>
        <th>Публичный</th>
    </thead>
    <tbody>
        {% for i in range(files.count):%}
        <tr>
            <td data="{{files.data[i].id}}" class="fileIDTable">{{i+1}}</td>
            <td class="fileNameTable text-left"><a href="/download/{{files.data[i].name}}-{{files.data[i].id}}" download="{{files.data[i].name}}">{{files.data[i].name}}</a></td>
            <td>{{files.data[i].create_date.strftime("%d.%m.%Y %H:%M:%S")}}</td>
            <td>{{files.data[i].update_date.strftime("%d.%m.%Y %H:%M:%S")}}</td>
            <td>{{files.data[i].users.login}}</td>
            <td data="{{files.data[i].public}}" class="filePublicTable">
                {% if files.data[i].public:%} Да {% else: %} Нет {% endif %}
            </td>
            <td>
                <a href="/download/{{files.data[i].name}}-{{files.data[i].id}}" download="{{files.data[i].name}}" class="btn btn-primary" title="Загрузить">
                    <img src="{{ url_for('static', filename='img/download.svg') }}" class="mini-icon w-100">
                </a>
                {% if 'test-site' in session and session['test-site']['userLogin'] == files.data[i].users.login: %}
                <button type="button" class="btn btn-secondary updateButton ml-2" data-toggle="modal" data-target="#updateFile" title="Изменить">
                    <img src="{{ url_for('static', filename='img/edit.svg') }}" class="mini-icon w-100">
                </button>
                <a href="/delete/{{files.data[i].name}}-{{files.data[i].id}}?URL={{request.path}}" class="btn btn-danger ml-2" title="Удалить">
                    <img src="{{ url_for('static', filename='img/delete.svg') }}" class="mini-icon w-100">
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% else: %}
    <tbody><tr><td>Нет файлов</td></tr></tbody>
    {% endif %}
</table>

<div class="modal modal-md fade" id="createFile" tabindex="-1" aria-labelledby="createFileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/upload?URL={{request.path}}" id="add_file_form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="createFileLabel">Добавление файла</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="name" class="form-control fileName mb-2" name="name" placeholder="Название">
                    <div class="custom-file mb-2">
                        <input type="file" class="custom-file-input inputFile mb-1" id="inputFileCreate" name="file" multiple>
                        <label class="custom-file-label" for="inputFileCreate" data-browse="Обзор">Файл</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="public" id="publicCheckCreate">
                        <label class="custom-control-label" for="publicCheckCreate">Опубликовать файл</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal-md fade" id="updateFile" tabindex="-1" aria-labelledby="updateFileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/update?URL={{request.path}}" id="edit_file_form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateFileLabel">Изменение файла</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control fileID mb-2" name="id" placeholder="ID">
                    <input type="name" class="form-control fileName mb-2" name="name" placeholder="Название">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="public" id="publicCheckUpdate">
                        <label class="custom-control-label" for="publicCheckUpdate">Опубликовать файл</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>