{% extends 'main.html' %}

{% block title %}
Главная
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class="title__page">Главная</h1>
<section class="section even-block">
    <h2 class="title__section">Файлы</h2>
    {% include 'form_n_files_table.html' %}
    <div class="text-center w-100">
        <a href="/files" class="btn btn-primary">Перейти на страницу файлов</a>
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}