{% extends 'main.html' %}

{% block title %}
Вход
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class="title__page">Вход</h1>
<form method="post" id="login__form">
    <h2 class="font-weight-normal mb-3">Пожалуйста, войдите в систему</h2>
    <input type="login" class="form-control" name="login" placeholder="Логин">
    <input type="password" class="form-control mt-1" name="password" placeholder="Пароль">
    <div class="mt-1 mb-3">
        Ещё нет аккаунта? <a href="/register?URL={{request.path}}">Зарегистрируйтесь</a>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
    {% if error_message: %}
    <div class="login__error text-danger mt-3">
        {{error_message}}
    </div>
    {% endif %}
</form>
<div class="go__back">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" class="mini-icon go__back-arrow">
    Назад
</div>
{% endblock %}

{% block scripts %}
{% endblock %}