<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />

    {% block styles %}{% endblock %}

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="apple-touch-icon" sizes="180x180" />
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" type="image/png" sizes="32x32" />
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" type="image/png" sizes="16x16" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/8b691a95d3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrap">
        <header class="header">
            <div class="header__left float-left ml-3 h-100">
                <div class="header__logo h-100 w-100">
                    <a href="/" class="d-block h-100 w-100 text-white text-center">Flask-test-site</a>
                </div>
            </div>
            <div class="header__right float-right mr-3 h-100">
                <ul class="nav__block d-flex text-white text-center h-100 m-0">
                    <li class="nav__item">
                        <a href="/files">Файлы</a>
                    </li>
                    <li class="nav__item">
                        <a href="/resume">Резюме</a>
                    </li>
                    <li class="nav__item">
                        {% if 'test-site' in session: %}
                        <a class="nav__logout d-flex" href="/logout?URL={{request.path}}">Выход<img src="{{ url_for('static', filename='img/bot-arrow.svg') }}" class="mini-icon ml-2"></a>
                        {% else: %}
                        <a href="/login?URL={{request.path}}">Вход</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </header>

        {% if 'test-site' in session: %}
        <div class="user__name text-white d-flex"><img src="{{ url_for('static', filename='img/user.svg') }}" class="mini-icon mr-1">
            <div>{{ session['test-site']['userName'] }}</div>
            <div>{{ session['test-site']['userLogin'] }}</div>
            <div>{{ session['test-site']['userLevelName'] }}</div>
        </div>
        {% endif %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="text-white">Тестовый сайт 2021</div>
        </div>
    </footer>
</body>

</html>

<!-- JQuery JS + Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% block scripts %}{% endblock %}