{% extends 'main.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class="title__page">Регистрация</h1>
<form method="post" id="register__form">
    <h2 class="font-weight-normal mb-3">Пожалуйста, заполните все поля</h2>
    <input type="name" class="form-control" name="name" placeholder="Имя">
    <input type="login" class="form-control mt-1" name="login" placeholder="Логин">
    <input type="password" class="form-control mt-1" name="password" placeholder="Пароль">
    <input type="password" class="form-control mt-1 mb-3" name="password_repeat" placeholder="Повторите пароль">
    <button type="submit" class="btn btn-primary">Войти</button>
    {% if error_message: %}
    <div class="login__error text-danger mt-3">
        {{error_message}}
    </div>
    {% endif %}
</form>
<div class="go__back">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" class="mini-icon go__back-arrow">
    Назад
</div>
{% endblock %}

{% block scripts %}
{% endblock %}