{% extends 'main.html' %}

{% block title %}
Резюме
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/resume.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1 class="title__page">Резюме</h1>
<div class="row">
    <div class="resume">
        <div class="main__section">
            <div class="row">
                <div class="col-9">
                    <div class="main__section-name">Сакаев Рамиль Ринатович</div>
                    <div class="main__section-position">Программист-разработчик</div>
                    <div class="main__section-contacts">
                        <div class="row">
                            <div class="col">
                                <div class="contact__description">Телефон</div>
                                <div class="contact__item contact__phone">
                                    <a href="tel:+79996228063">+79996228063</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="contact__description">Почта</div>
                                <div class="contact__item contact__email">
                                    <a href="mailto:s.ramil.97@yandex.ru">s.ramil.97@yandex.ru</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="contact__description">Соцсети</div>
                                <div class="contact__item contact__social">
                                    <div class="row">
                                        <div class="col">
                                            <div class="contact__social-vk">
                                                <a href="https://vk.com/raaamill"><i class="fa fa-vk"></i></a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="contact__social-telegram">
                                                <a href="https://t.me/raaamill"><i class="fab fa-telegram-plane"></i></a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="contact__social-instagram">
                                                <a href="https://instagram.com/raaamill"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="main__section-image"><img src="{{ url_for('static', filename='img/my-photo.jpg') }}"></div>
                </div>
            </div>
        </div>
        <div class="resume__section education">
            <div class="resume__section-description">Образование</div>
            <div class="resume__subsection">
                <div class="row">
                    <div class="col-4">
                        <div class="resume__subsection-leftside education__main">
                            <div class="resume__subsection-maininfo education__place">
                                ФГБОУ ВО "Уфимский государственный авиационный технический университет"
                            </div>
                            <div class="education__period">
                                2015 - 2019
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="resume__subsection-rightside education__description">
                            <p>Факультет информатики и робототехники</p>
                            <p>Кафедра вычислительной техники и защиты информации</p>
                            <p>Информационная безопасность</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume__section work__experience">
            <div class="resume__section-description">Опыт работы</div>
            <div class="resume__subsection">
                <div class="row">
                    <div class="col-4">
                        <div class="resume__subsection-leftside work__main">
                            <div class="resume__subsection-maininfo work__place">
                                ООО "ОНВА"
                            </div>
                            <div class="work__position">
                                Ведущий программист
                            </div>
                            <div class="work__period">
                                10/2020 - наст. время
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="resume__subsection-rightside work__description">
                            <p>Обязанности:</p>
                            <ul>
                                <li>web-разработка;</li>
                                <li>контроль проектов;</li>
                                <li>работа с GitLab, VSCode, Trello, FileZilla, phpmyadmin, Apache, Postman, xampp.</li>
                            </ul>
                            <p>Стек:</p>
                            <ul>
                                <li>front - HTML/CSS/JQuery;</li>
                                <li>back - MySQL/PHP/NodeJS.</li>
                            </ul>
                            <p>Описание:</p>
                            <p>Участвовал в написании сайтов в команде в качестве основного разработчика. Роль - преимущественно backend (PHP, MySQL) и написание скриптов для frontend (JQuery), также участвовал в вёрстке на Bootstrap 4. Лично создавал несколько парсеров, в том числе с веб-интерфейсом. Имел дело с библиотеками Simple HTML DOM и PHPExcel. Создавал MVC с помощью .htaccess и PHP. Также был опыт редизайна сайта на CMS Joomla.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume__subsection">
                <div class="row">
                    <div class="col-4">
                        <div class="resume__subsection-leftside work__main">
                            <div class="resume__subsection-maininfo work__place">
                                ООО "Инженерный центр систем безопасности"
                            </div>
                            <div class="work__position">
                                Специалист по сетевой безопасности отдела коммуникаций и связи
                            </div>
                            <div class="work__period">
                                08/2020 - 04/2021
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="resume__subsection-rightside work__description">
                            <p>Обязанности:</p>
                            <ul>
                                <li>сопровождение и внедрение телекоммуникаций и систем связи предприятий;</li>
                                <li>настройка сетевого оборудования компаний Cisco, Huawei, Mikrotik, D-Link, ViPNet;</li>
                                <li>настройка и работа с Asterisk, Zabbix, OpenWRT, Avaya.</li>
                            </ul>
                            <p>Достижения:</p>
                            <p>3 сертификата Huawei: Routing&Switching, WLAN, Storage.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume__subsection">
                <div class="row">
                    <div class="col-4">
                        <div class="resume__subsection-leftside work__main">
                            <div class="resume__subsection-maininfo work__place">
                                ООО "Инженерный центр систем безопасности"
                            </div>
                            <div class="work__position">
                                Специалист 1 линии технической поддержки
                            </div>
                            <div class="work__period">
                                06/2019 - 08/2020
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="resume__subsection-rightside work__description">
                            <p>Обязанности:</p>
                            <ul>
                                <li>обработка заявок в системе HelpDesk;</li>
                                <li>обработка телефонных заявок;</li>
                                <li>первичная диагностика и решение стандартных проблем с ПО, ПК и другим оборудованием;</li>
                                <li>администрирование ОС Windows, работа с Active Directory, Jabber, Phpmyadmin, Roundcube, Domination, Bastion, Крипто-ПРО, Choco;</li>
                                <li>работа с СрЗИ Kaspersky, SecretNet, ViPNet;</li>
                                <li>выезды по Республике Башкортостан на точки, разборка-сборка и настройка оборудования, серверных шкафов;</li>
                                <li>монтаж структурированной кабельной системы, коммутация оборудования.</li>
                            </ul>
                            <p>Достижения:</p>
                            <ul>
                                <li>быстро изучил всё необходимое;</li>
                                <li>качественно выполнял свои обязанности;</li>
                                <li>перевыполнял норму.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume__section languages">
            <div class="resume__section-description">Языки</div>
            <ul>
                <li>Русский - Родной</li>
                <li>Английский - B1- Средний</li>
            </ul>
        </div>
        <div class="resume__section about__me">
            <div class="resume__section-description">О себе</div>
            <p>Хорошее знание ОС Windows, базовое знание ОС Linux. Microsoft Ofice, GitLab, VSCode, VisualStudio, Trello, FileZilla, Phpmyadmin, Apache, Postman, Xampp, Openserver.</p>
            <p>Плотно работал с HTML (Bootstrap 4), CSS, JS (JQuery, AJAX), PHP, MySQL.</p>
            <p>Есть знания в VBA, C++, C#.</p>
            <p>В процессе изучения:<br>
            PHP - Yii2: (<a href="https://gitlab.com/raaamill/yii2-test-site">https://gitlab.com/raaamill/yii2-test-site</a>),<br>
            Python - Flask: (<a href="https://gitlab.com/raaamill/flask-test-site">https://gitlab.com/raaamill/flask-test-site</a>),<br>
            NodeJS,<br>
            MongoDB.</p>
            <p>Имеются знания в области сетей, есть опыт создания MVC, понимаю Rest API.</p>
            <p>Очень хочу расти в направлении грамотного кода, правильных конструкций и т.п.. Главное для меня - развитие. Логика и желание присутствуют. Хотелось бы иметь опытного наставника.</p>
        </div>
        <div class="resume__section personal__qualities">
            <div class="resume__section-description">Личные качества</div>
            <div class="row">
                <div class="col-3">
                    Отсутствие вредных привычек
                </div>
                <div class="col-3">
                    Инициативность
                </div>
                <div class="col-3">
                    Самостоятельность
                </div>
                <div class="col-3">
                    Ответственность
                </div>
                <div class="col-3">
                    Коммуникабельность
                </div>
                <div class="col-3">
                    Быстрая обучаемость
                </div>
                <div class="col-3">
                    Усидчивость
                </div>
                <div class="col-3">
                    Упорство
                </div>
                <div class="col-3">
                    Лидерские качества
                </div>
                <div class="col-3">
                    Работа в команде
                </div>
                <div class="col-3">
                    Самостоятельная работа
                </div>
                <div class="col-3">
                    Железная логика
                </div>
            </div>
        </div>
        <div class="resume__section job__wishes">
            <div class="resume__section-description">Пожелания к работе</div>
            Оформление по ТК РФ, полная занятость, полный день, возможность удалённой работы, стабильная ЗП, перспектива карьерного роста, интересные задачи, разумные дедлайны, новые вершины.
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}